/* Background */
.bg {
  &-cover,
  &-cover-before::before,
  &-cover-after::after {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  &-contain,
  &-contain-before::before,
  &-contain-after::after {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}
