/* Map */
.map {
  width: 100%;
  height: 300px;
  display: block;

  .map-card {
    .map-caption {
      padding: 10px;
      width: 280px;
    }

    .map-image {
      width: 80px;
      height: 80px;
      float: left;
      margin-right: 10px;
    }

    .map-title {
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 700;
      display: block;
      margin-bottom: 10px;
    }

    .map-address {
      display: block;
      margin-bottom: 0 !important;
    }
  }
}
