/* Colors */
$color10:   #ffffff;
$color20:   #000000;

$success:   #8bc34a;
$danger:    #f44336;
$warning:   #ffc107;
$info:      #03a9f4;

$facebook:  #39579b;
$twitter:   #588dc9;
$instagram: #8a3ab9;
$youtube:   #bb0000;
$google:    #dd4b39;
$linkedin:  #0079b8;
$whatsapp:  #4dc247;
